[draggable="true"] {
  cursor: move;
}
body{
  background-color: rgb(97, 126, 200);
  margin-right: 8px;
  height: 100%;
}
.main-header .header-container{
  display: flex;
  /* max-width: 1200px; */
  align-items: center;
  margin: auto;
  width: 100%;
  padding: 0px;
}
.main-nav{
  float: right;/*??沒效*/
  margin: auto;
  padding: 20px 0px;
}
.main-nav a{
  color: inherit; /* 移除超連結顏色 */
  text-decoration: none;  /* 移除超連結底線 */
  transform: translateY(0px);
  color: white;
  margin: 15px;
}
.main-nav a:hover{
  color: rgb(117, 214, 255);
  transform: translateY(-10px);
}
.logo{
  color: inherit; /* 移除超連結顏色 */
  text-decoration: none;  /* 移除超連結底線 */
  padding: 10px 0px;
  color: white;
}
.logo:hover{
  color: rgb(117, 214, 255);
}
.word{
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 8vh;
}
.wrap{
  display: flex;
  align-items: center;
  justify-content: center; 
}
.boxone{
  display: flex;
  width: 100%;
}
.target{
  border: 2px solid gray;
  margin:10px;
  padding:10px;
  border-radius: 5px;
  display: flex;
}
.target.over{
  border: 2px dashed rgb(97, 126, 200);
  background-color: rgba(107, 191, 236, 0.101);
}
.target-inside{
  border: 2px solid gray;
  margin:10px;
  padding:10px;
  border-radius: 5px;
  display: flex;
  float: left;
  
}

#target1,#target10,#target11,#target12,#target13,#target14{
  width: 95%;
  min-height: 90px;
  display: inline-block;
}
#target2{
  width: 100%;
  display: inline-block;
  flex-direction: row;
  margin-bottom: 20px;
  height: 53vh;
}
#target4,#target5{
  width: 20vw;
  height: 21.5vw; 
}
#target6,#target7{
  display: flex;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
}
#target8,#target9{
  display: inline-block;
  width: 33vw;
  height: 9.3vw;
}
.groupone{
  margin: 5px;
  margin-right: 0px;
  margin-top: -5px;
  display: flex;
  flex-direction: column;
  min-width: 48.5vw;
}
.grouptwo{
  margin: 5px;
  margin-left: 0px;
  margin-top: -5px;
  display: flex;
  flex-direction: column;
  min-width: 48.5vw;
}
.column{
  display: flex;
  flex-direction: column;
}
.group{
  display: flex;
  flex-direction: row;
}
.groupbig{
  display: flex;
  flex-direction: row;
}

.box{
  width: 4.15vw;
  height: 4vw;
  padding: 5px;
  margin: 5px;
  float: left;
  border-radius: 5px; 
}
#box47{
  width: 2vw;
}
#box48{
  width: 2vw;
}
#box51{
  width: 6vw;
  margin-left: 0px;
  padding-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
}
#box52{
  width: 10vw;
  margin-left: 0px;
  padding-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
}
#box54{
  width: 8vw;
}
#box55{
  width: 8.4vw;
}
#box56{
  width: 8.4vw;
  margin-left: 0px;
  padding-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
}
#box57{
  width: 8.4vw;
}
#box58{
  width: 8.4vw;
}
.container{
  background-color: white;
  width: 100%;
  border-radius: 10px;
}
h1{
  color: rgb(97, 126, 200); 
}

.wordbox{
  width: 100%;
  height: 25px;
  border-bottom-style: solid;
  border-color: rgb(97, 126, 200);
  color: rgb(97, 126, 200);
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center; 
}

