body{
    background-color: rgb(97, 126, 200);
    margin-right: 8px;
    height: 150%;
}
.container{
    background-color: white;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    margin-top: 50px;
  }
.main-header .header-container{
    display: flex;
    /* max-width: 1200px; */
    align-items: center;
    margin: auto;
    width: 100%;
}
.menu-list{
    float: right;/*??沒效*/
    margin: auto;
    /* padding: 20px 0px; */
}
.menu-list a{
    color: inherit; /* 移除超連結顏色 */
    text-decoration: none;  /* 移除超連結底線 */
    transform: translateY(0px);
    color: rgb(255, 255, 255);
    margin: 15px;
}
.menu-list a:hover{
    color: rgb(117, 214, 255);
    transform: translateY(-10px);
}
.line {
    width: 24px;
    height: 30px;
    background: rgba(97, 126, 200, 0);
    cursor: pointer;
    display: block;
    padding: 18px;
    position: fixed;
    z-index: 2;
}
.line .menu,
.line .menu::before,
.line .menu::after {
    background: rgb(255, 255, 255);
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    transition: background ease .3s, top ease .3s .3s, transform ease .3s;
    width: 22px;
}
.line .menu {
    left: 18px;
    top: 27px;
}

.line .menu::before {
    top: -6px;
}

.line .menu::after {
    top: 6px;
}
/*點選選單變叉叉*/
#menu:checked + .line .menu {
    background: transparent;

}

#menu:checked + .line .menu::before {
    transform: rotate(45deg);
    background-color: none;
}

#menu:checked + .line .menu::after {
    transform: rotate(-45deg);
}

#menu:checked + .line .menu::before,
#menu:checked + .line .menu::after {
    top: 0;
    transition: top ease .3s, transform ease .3s .3s;

}

/*選單開合*/
#menu:checked ~ .menu-list {
    width: 270px;
    height: 100%;
}

.menu-list {
    width: 60px;
    height: 0%;
    background: rgb(40, 49, 123);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    padding-top:0px;
    position: fixed;
    z-index: 1;
    transition: all .6s;
    overflow: hidden;
}
/*選單向外推*/
.menu-list ul {
    list-style: none;
    margin-left:50px;
    margin-top: 50px;
    padding: 0;
}
.menu-list ul>li{
    display:block;
    width:205px;
    line-height: 50px;
}
/*隱藏核許框*/
input#menu {
    display: none;
}  