h1 {
    text-align: center;
}

.container {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(208, 207, 207);
    padding: 20px;
    font-size: 30px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid brown;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: lightgreen;
    font-size: 30px;
    border: none;
    margin-top: 20px;
}

#rule {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(208, 207, 207);
    padding: 20px;
    font-size: 18px;
    margin-top: 5px;
    display: none;
}

#rule h2 {
    text-align: center;
}

.invalid {
    color: red;
}

.valid {
    color: rgb(0, 171, 0);
}

.invalid:before {
    position: relative;
    left: -5px;
    content: "!";
}

.valid:before {
    position: relative;
    left: -5px;
    content: "\2713";
}