[draggable="true"] {
    cursor: move;
}
body{
    background-color: rgb(97, 126, 200);
    margin-right: 8px;
    height: 100%;
}
.main-header .header-container{
    display: flex;
    /* max-width: 1200px; */
    align-items: center;
    margin: auto;
    width: 100%;
}
.menu-list{
    float: right;/*??沒效*/
    margin: auto;
    /* padding: 20px 0px; */
}
.menu-list a{
    color: inherit; /* 移除超連結顏色 */
    text-decoration: none;  /* 移除超連結底線 */
    transform: translateY(0px);
    color: white;
    margin: 15px;
}
.menu-list a:hover{
    color: rgb(117, 214, 255);
    transform: translateY(-10px);
}

.word{
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 8vh;
}
.wrap{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.boxone{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}
.boxtwo{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}
.treebox{
    display: inline-block;
    flex-direction: column;
    width: 17%;
}
.treeimg{
    display: flex;
    height:9vw;
    align-items: center;
    justify-content: center; 
}
.babyimg{
    display: flex;
    height:9vw;
    align-items: center;
    justify-content: center; 
}
.mudimg{
    display: flex;
    width:15%;
    align-items: center;
    justify-content: center; 
}
.motherimg{
    display: flex;
    width:15%;
    align-items: center;
    justify-content: center; 
    margin-right: 20px;
}
.babybox{
    display: inline-block;
    flex-direction: column;
    width: 17%;
}
.column{
    width: 100%;
}

.target{
    
    margin: 5px;
    padding:5px;
    border-radius: 5px;
    display: flex;

}
.target.over{
    border: 2px dashed rgb(192, 104, 153);
    background-color: rgba(186, 102, 150, 0.2);
}

#target1,#target2,#target3,#target4{
    /* display: inline-block; */
    margin-bottom: 20px;
    height: 15vh;
    /* min-width: 50vw; */
}
#target5{
    border: 2px solid gray;
    height: 30%;
    width: 97%;
    min-height: 90px;
    display: inline-block;
    margin-right: 10px;
}
.box{
    width: 6.5vw;
    height: 6.4vw;
    padding: 5px;
    float: left;
    border-radius: 5px;
}

#box9{
    width:8vw;
    height: 6.4vw;
    padding: 5px;
    float: left;
    border-radius: 5px;
}

.container{
    background-color: white;
    width: 100%;
    border-radius: 10px;
    margin-top: 50px;
}
h1{
    color: rgb(97, 126, 200); 
}
  
.wordbox{
    width: 100%;
    height: 25px;
    margin: 5px;
    border-bottom-style: solid;
    border-color: rgb(97, 126, 200);
    color: rgb(97, 126, 200);
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.line{
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to left, rgb(239, 171, 182) 0%, rgb(239, 171, 182) 50%, transparent 50%);
    background-size: 40px 2px;
    background-repeat: repeat-x;

}
.slash-up{
    width: 100px;
    height: 100px;
    background-image: linear-gradient(-45deg, transparent 49%, rgb(239, 171, 182) 49%, rgb(239, 171, 182) 51%, transparent 51%, transparent); /* 向上的對角線 */
    
}
.slash-down{
    width: 100px;
    height: 100px;
    background-image: linear-gradient(45deg, transparent 49%, rgb(239, 171, 182) 49%, rgb(239, 171, 182) 51%, transparent 51%, transparent); /* 向下的對角線 */
    
}
.slashbox{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/*
選單線
*/
.burgerline {
    width: 24px;
    height: 30px;
    background: rgba(97, 126, 200, 0);
    cursor: pointer;
    display: block;
    padding: 18px;
    position: fixed;
    z-index: 2;
  }
  .burgerline .menu,
  .burgerline .menu::before,
  .burgerline .menu::after {
    background: rgb(255, 255, 255);
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    transition: background ease .3s, top ease .3s .3s, transform ease .3s;
    width: 22px;
  }
  .burgerline .menu {
    left: 18px;
    top: 27px;
  }
  
  .burgerline .menu::before {
    top: -6px;
  }
  
  .burgerline .menu::after {
    top: 6px;
  }
  /*
  點選選單變叉叉
  */
  #menu:checked + .burgerline .menu {
    background: transparent;
    
  }
  
  #menu:checked + .burgerline .menu::before {
    transform: rotate(45deg);
    background-color: none;
  }
  
  #menu:checked + .burgerline .menu::after {
    transform: rotate(-45deg);
  }
  
  #menu:checked + .burgerline .menu::before,
  #menu:checked + .burgerline .menu::after {
    top: 0;
    transition: top ease .3s, transform ease .3s .3s;
    
  }
  
  /*
  選單開合
  */
  #menu:checked ~ .menu-list {
    width: 270px;
    height: 100%;
  }
  
  .menu-list {
    width: 60px;
    height: 0%;
    background: rgb(40, 49, 123);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    padding-top:0px;
    position: fixed;
    z-index: 1;
    transition: all .6s;
    overflow: hidden;
  }
  /*
  選單向外推
  */
  .menu-list ul {
    list-style: none;
    margin-left:50px;
    margin-top: 50px;
    padding: 0;
  }
  .menu-list ul>li{
    display:block;
    width:180px;
    line-height: 50px;
  }
  /*
  隱藏核許框
  */
  input#menu {
    display: none;
  }

/*手機排版 480-768*/
/* @media screen and (min-width:480px) and (max-width:768px){
h1{
    color: rgb(206, 37, 37);
}

} */
/*平板排版 768-1200*/
/* @media screen  and (min-width:768px) and (max-width:1200px){
h1{
    color: #ffa;
}
} */