[draggable="true"] {
  cursor: move;
}
body{
  background-color: rgb(97, 126, 200);
  margin-right: 8px;
  height: 150%;
}
.main-header .header-container{
  display: flex;
  /* max-width: 1200px; */
  align-items: center;
  margin: auto;
  width: 100%;
}
.menu-list{
  float: right;/*??沒效*/
  margin: auto;
  /* padding: 20px 0px; */
}
.menu-list a{
  color: inherit; /* 移除超連結顏色 */
  text-decoration: none;  /* 移除超連結底線 */
  transform: translateY(0px);
  color: rgb(255, 255, 255);
  margin: 15px;
}
.menu-list a:hover{
  color: rgb(117, 214, 255);
  transform: translateY(-10px);
}

.word{
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 8vh;
}
.wrap{
  display: flex;
  align-items: center;
  justify-content: center; 
}
.boxone{
  display: flex;
  width: 100%;
}
.target{
  border: 2px solid gray;
  margin:10px;
  padding:10px;
  border-radius: 5px;
  display: flex;
}
.target.over{
  border: 2px dashed rgb(97, 126, 200);
  background-color: rgba(107, 191, 236, 0.101);
}
#target1{
  height: 30%;
  width: 100%;
  min-height: 90px;
  display: inline-block;
}
#target2,#target3{
  width: 50%;
  height: 100%;
  display: inline-block;
  margin-bottom: 20px;
  min-height: 53vh;
}
.box{
  width: 5.4vw;
  height: 5.4vw;
  /* background: rgb(107, 191, 236); */
  padding: 5px;
  margin: 5px;
  float: left;
  border-radius: 5px;
  
}

/*
選單線
*/
.line {
  width: 24px;
  height: 30px;
  background: rgba(97, 126, 200, 0);
  cursor: pointer;
  display: block;
  padding: 18px;
  position: fixed;
  z-index: 2;
}
.line .menu,
.line .menu::before,
.line .menu::after {
  background: rgb(255, 255, 255);
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  transition: background ease .3s, top ease .3s .3s, transform ease .3s;
  width: 22px;
}
.line .menu {
  left: 18px;
  top: 27px;
}

.line .menu::before {
  top: -6px;
}

.line .menu::after {
  top: 6px;
}
/*
點選選單變叉叉
*/
#menu:checked + .line .menu {
  background: transparent;
  
}

#menu:checked + .line .menu::before {
  transform: rotate(45deg);
  background-color: none;
}

#menu:checked + .line .menu::after {
  transform: rotate(-45deg);
}

#menu:checked + .line .menu::before,
#menu:checked + .line .menu::after {
  top: 0;
  transition: top ease .3s, transform ease .3s .3s;
  
}

/*
選單開合
*/
#menu:checked ~ .menu-list {
  width: 270px;
  height: 100%;
}

.menu-list {
  width: 60px;
  height: 0%;
  background: rgb(40, 49, 123);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  padding-top:0px;
  position: fixed;
  z-index: 1;
  transition: all .6s;
  overflow: hidden;
}
/*
選單向外推
*/
.menu-list ul {
  list-style: none;
  margin-left:50px;
  margin-top: 50px;
  padding: 0;
}
.menu-list ul>li{
  display:block;
  width:180px;
  line-height: 50px;
}
/*
隱藏核許框
*/
input#menu {
  display: none;
}

.container{
  background-color: white;
  width: 100%;
  border-radius: 10px;
  height: 100%;
  margin-top: 50px;
}
h1{
  color: rgb(97, 126, 200); 
}

.wordbox{
  width: 100%;
  height: 25px;
  margin: 5px;
  border-bottom-style: solid;
  border-color: rgb(97, 126, 200);
  color: rgb(97, 126, 200);
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center; 
}
