[draggable="true"] {
    cursor: move;
  }
body{
    background-color: rgb(97, 126, 200);
    margin-right: 8px;
    height: 100%;
}
.main-header .header-container{
    display: flex;
    /* max-width: 1200px; */
    align-items: center;
    margin: auto;
    width: 100%;
    /* padding: 0px; */
}
.menu-list{
    float: right;/*??沒效*/
    margin: auto;
    /* padding: 20px 0px; */
}
.menu-list a{
    color: inherit; /* 移除超連結顏色 */
    text-decoration: none;  /* 移除超連結底線 */
    transform: translateY(0px);
    color: white;
    margin: 15px;
    /* font-size: larger; */
}
.menu-list a:hover{
    color: rgb(117, 214, 255);
}

.word{
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 8vh;
}
.wrap{
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-wrap: wrap;
}
.boxone{
    display: flex;
    width: 100%;
}
.target{
  /* border: 2px solid gray; */
  margin:5px;
  padding:10px;
  border-radius: 5px;
}
.target.over{
    border: 2px dashed rgb(97, 126, 200);
    background-color: rgba(107, 191, 236, 0.101);
}

.storeblock{
    height: 30%;
    width: 100%;
    min-height: 90px;
    display: inline-block;
}
#targrt1{
  width: 30%;
  display: inline-block;
  margin-bottom: 20px;
  height: 40vh;
  color: rgb(97, 126, 200);
}
#target2,#target3,#target4,#target5,#target6,#target7{
  width: 30%;
  display: inline-block;
  margin-bottom: 20px;
  height: 15rem;
  color: rgb(97, 126, 200);
  border: 2px solid gray;
}
#target8{
  height: 30%;
  width: 95%;
  min-height: 90px;
  display: inline-block;
  color: rgb(97, 126, 200);
  margin-left: 0.7rem;
  border: 2px solid gray;
}
.box{
  width:4vw;
  height: 3.5vw;
  padding: 3px 5px;
  float: left;
  border-radius: 5px;
}
#box49{
  width: 7vw;
}
#box8,#box21,#box52{
  width: 6vw;
}
#box2,#box5,#box22,#box26,#box31,#box41,#box42,#box55{
  width:2.5vw;
  height: 5vw;
}
#box3,#box4,#box10,#box12,#box13,#box12,#box17,#box23,#box24,#box30,#box32,#box34,#box47,#box51{
  width:4vw;
  height: 3.5vw;
}
#box15,#box18,#box19,#box20,#box33,#box46,#box57{
  width:3.5vw;
  height: 3.5vw;
}
#box6,#box11{
  width:3.5vw;
}
.container{
    background-color: white;
    width: 100%;
    border-radius: 10px;
    margin-top: 50px;
}
h1{
    color: rgb(97, 126, 200); 
}
.foodbox{
    width: 100%;
    height: 30px;
    border-bottom-style: solid;
    border-color: rgb(97, 126, 200);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center; 
    
}

/*
選單線
*/
.line {
    width: 24px;
    height: 30px;
    background: rgba(97, 126, 200, 0.703);
    cursor: pointer;
    display: block;
    padding: 18px;
    position: fixed;
    z-index: 2;
  }
  .line .menu,
  .line .menu::before,
  .line .menu::after {
    background: rgb(255, 255, 255);
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    transition: background ease .3s, top ease .3s .3s, transform ease .3s;
    width: 22px;
  }
  .line .menu {
    left: 18px;
    top: 27px;
  }
  
  .line .menu::before {
    top: -6px;
  }
  
  .line .menu::after {
    top: 6px;
  }
  /*
  點選選單變叉叉
  */
  #menu:checked + .line {
    background: rgb(40, 49, 123);
  }
  #menu:checked + .line .menu {
    background: transparent;
    
  }
  
  #menu:checked + .line .menu::before {
    transform: rotate(45deg);
    background-color: none;
  }
  
  #menu:checked + .line .menu::after {
    transform: rotate(-45deg);
  }
  
  #menu:checked + .line .menu::before,
  #menu:checked + .line .menu::after {
    top: 0;
    transition: top ease .3s, transform ease .3s .3s;
    
  }
  
  /*
  選單開合
  */
  #menu:checked ~ .menu-list {
    width: 270px;
    height: 100%;
  }
  
  .menu-list {
    width: 60px;
    height: 0%;
    background: rgb(40, 49, 123);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    padding-top:0px;
    position: fixed;
    z-index: 1;
    transition: all .6s;
    overflow: hidden;
  }
  /*
  選單向外推
  */
  .menu-list ul {
    list-style: none;
    margin-left:50px;
    margin-top: 50px;
    padding: 0;
  }
  .menu-list ul>li{
    display:block;
    width:205px;
    line-height: 50px;
  }
  /*
  隱藏核許框
  */
  input#menu {
    display: none;
  }
.flex{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.store{
  display:flex; 
  justify-content:center; 
  width: 30%;
  height: 20rem;
  /* background-color: antiquewhite; */
  margin: 0.7rem;
}

.store  .img {
  position:absolute;
  width: 25%;
  height: 20rem;
  /* background-color: aqua; */
}

.store  .img  img{
  position:absolute;
  width: 100%;
  height: 20rem;
  opacity: 0.85;
}
.storebox{
  position: absolute;
  width: 18%;
  height: 8rem;
  /* background-color: rgba(27, 46, 46, 0.379); */
  margin-top: 5.5rem;
}
.fstorebox{
  position: absolute;
  width: 18%;
  height: 7.5rem;
  /* background-color: rgba(27, 46, 46, 0.379); */
  margin-top: 5.5rem;
  margin-left: 3rem;
}
.vstorebox{
  position: absolute;
  width: 23%;
  height: 12rem;
  /* background-color: rgba(27, 46, 46, 0.379); */
  margin-top: 0.5rem;
}
.dstorebox{
  position: absolute;
  width: 14%;
  height: 5rem;
  /* background-color: rgba(27, 46, 46, 0.379); */
  margin-top: 7.5rem;
  margin-left: -1.2rem;
}
.sstorebox{
  position: absolute;
  width: 20%;
  height: 11rem;
  margin-top: 8rem;
}